Checks:           '*,-llvmlibc-restrict-system-libc-headers,-llvmlibc-implementation-in-namespace,-llvmlibc-callee-namespace,-modernize-use-trailing-return-type,-fuchsia-default-arguments-declarations'
WarningsAsErrors: '*'
